
div {
	
	width: 100%;
	position: fixed;

}
.div1 {
	height: 100px;
	background-color: red;
	z-index: 4;
}
.div2 {
	height: 200px;
	background-color: blue;
	z-index: 3;
}
.div3 {
	height: 300px;
	background-color: #F4FA58;
	z-index: 2;
}
.div4 {
	height: 400px;
	background-color: #FE2EF7;
	z-index: 1;
}


